<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03A620E84801522D4C751260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE6BCB11F16B1766DF47DA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2F560BE69A11FD5F408C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13EEB43D547D79A8198AC0C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17FCCBBD666CD204135E0157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1810ED996E8E66D155055D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1895BFE565595389A45C000F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D84C7F35916504FF6E5A7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46B47A7ECD0422BEF7908B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E42E826AC5EB3FA81266A25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FA1104C60CBEC3DDD5CB0CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DCF541388B25E45919D7673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A75E12CC804475137CB847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774A698D20F20BE25BDA4737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>796DDCD4D54E1C8A9E941345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87026A70ED65C235C761AB23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EDF41CC4A9406EB8313E371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EFD2F15BE283C7084B89E9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C2A5D227A719B28B9F370A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABCAD8D9EF2AC581B82BAD34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0A7337FA74331C17F5DEEF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1635206D11ACA92D3C7A6B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7241299B6F7C1216285D5E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D36F4E9545C333CF711FDBE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D68A65335C15E7DE98671251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9143EE3459D04025BC8503F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB62250B6A89C34A971DD438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F34116289DF06262E9A3207B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB806F91512ECCF24680FC5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
